<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DanglInternal" value="https://packages.dangl.dev/dangl-internal/nuget/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <DanglInternal>
      <add key="Username" value="georgdangl" />
      <add key="ClearTextPassword" value="T-Hbz7JzuW3fn2wQJpP88YmAA7qq5yJ7AN7lU" />
    </DanglInternal>
  </packageSourceCredentials>
</configuration>
